.welcome {
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    text-align: center;

    color: #000000;
}
.button {
    width: 400px;
    height: 100px;
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;

    background: #2B55E8;
    border-radius: 50px;
    border: 0;
}
.buttontext {
    position: center;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 40.5px;
    line-height: 51px;

    color: #FFFFFF;
}
.menuoptions {
    position: center;
    margin-bottom: 30px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    text-align: center;

    color: #626262;
}
.lot {
    margin-top: 150px;
    margin-right: auto;
    margin-left: auto;
    display: block;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    line-height: 60px;
    text-align: center;
    color: #0b5ed7;
}
.infotext {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

    color: #000000;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
/**/
.logininput {
    border: 5px solid #626262;
    border-radius: 999px;
    background-color: transparent;
    text-align: center;
    width: 350px;
    height: 60px;
}
