<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Driver Personal Page</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'/>
</head>
<body>
<div class="container-sm" th:if="${currentParkingSituationForTheUser.getPerson() != null}">

    <h1 class="welcome" style="margin-top: 50px">
        <span th:text="${'Hi, ' + currentParkingSituationForTheUser.getPerson().firstName + '!'}"/>
    </h1>
    <div th:if="${currentParkingSituationForTheUser.getReservation() == null} and ${currentParkingSituationForTheUser.getPlaceInQueue() == null}">
        <p class="infotext">
            To book a parking lot for a next working day,
            press the “GetParked” button below:
        </p>
        <form th:action="@{/request}" method="post">
            <button class="button" style="background: #3D9446; margin-top: 75px; margin-bottom: 75px">
                <a>
                    <h5 class="buttontext">GetParked</h5>
                </a>
            </button>
            <p class="infotext" th:text="${'Available lots: ' + currentParkingSituationForTheUser.getAvailableLotsNumber() + ' | Queue: ' + currentParkingSituationForTheUser.getQueueSize()}"/>
        </form>
    </div>
    <div th:if="${currentParkingSituationForTheUser.getReservation() != null}">
        <p class="infotext">
            <span th:text="${'Your parking lot for ' + currentParkingSituationForTheUser.getBookingDate() + ':'}"/>
        </p>
        <h1 class="lot" style="margin-top: 75px; margin-bottom: 75px"
            th:text="${currentParkingSituationForTheUser.getReservation().getParkingLot().getBlockId() + '-' + currentParkingSituationForTheUser.getReservation().getParkingLot().getLotNumber()}">
            Lot</h1>
        <p class="infotext">
            If you would like to cancel your reservation,
            please press the "Cancel" button below:
        </p>
        <form th:action="@{/cancel}" method="post">
            <button class="button" style="background: #C85151; margin-top: 75px; margin-bottom: 75px">
                <a>
                    <h5 class="buttontext">Cancel</h5>
                </a>
            </button>
        </form>
    </div>
    <div th:if="${currentParkingSituationForTheUser.getPlaceInQueue() != null}">
        <p class="infotext">
            <span th:text="${'YOUR PLACE IN QUEUE IS ' + currentParkingSituationForTheUser.getPlaceInQueue()}"/>
        </p>
        <p class="infotext">
            If you would like to leave the queue,
            please press the "Cancel" button below:
        </p>
        <form th:action="@{/cancel}" method="post">
            <button class="button" style="background: #C85151; margin-top: 75px; margin-bottom: 75px">
                <a>
                    <h5 class="buttontext">Cancel</h5>
                </a>
            </button>
        </form>
    </div>

    <h1 class="menuoptions">
        <a class="menuoptions" href="">Edit personal information</a>
    </h1>

    <h1 class="menuoptions">
        <a class="menuoptions" href="">Help and FAQ</a>
    </h1>

    <h1 sec:authorize="hasRole('ROLE_ADMIN')" class="menuoptions">
        <a class="menuoptions" href="/getparked/admin">Admin page</a>
    </h1>

    <h1 class="menuoptions">
        <a class="menuoptions" style="color: #C85151" href="/getparked/logout">Log out</a>
    </h1>

</div>
</body>
</html>