<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Please Log In</title>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'/>
</head>
<body>
<div class="container-sm">
    <h1 class="welcome" style="margin-top: 100px; margin-bottom: 50px">Please Log In</h1>
    <div class="infotext" style="color: red" th:if="${param.error}">
        Invalid username or password!
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post">
        <div align="center" style="margin-bottom: 1rem;">
            <input class="logininput" style="font-weight: 400;
    font-size: 20px;" type="text" name="username" placeholder="Username"/>
        </div>
        <div align="center" style="margin-bottom: 1rem;">
            <input class="logininput" style="font-weight: 400;
    font-size: 20px;" type="password" name="password" placeholder="Password"/>
        </div>
        <input class="button buttontext" style="margin-top: 50px" type="submit" value="Log in"/>
    </form>
</div>

<h1 class="menuoptions" style="font-size: 24px; margin-top: 50px">
    <a style="color: #626262" href="">Forgot Password?</a>
</h1>

</body>
</html>