<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Log out</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'/>
<body>
<div class="container-sm">

    <h2 class="welcome" style="width: 400px; margin-top: 50px; color: #626262">
        Are you sure you want to log out?
    </h2>

    <form method="post" th:action="@{/logout}">
        <button class="button" style="background: #C85151">
            <h5 class="buttontext">Log out</h5>
        </button>
    </form>

    <h2 class="menuoptions" style="margin-top: 50px; margin-bottom: 50px">or</h2>

    <h1 class="menuoptions">
        <a class="menuoptions" href="/getparked/home">Return to GetParked</a>
    </h1>

</div>
</body>
</html>