<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome Page</title>
<link th:href="@{/css/main.css}" rel="stylesheet"/>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
<link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'/>
<body>
<div class="container-sm">
    <h2 class="welcome">Welcome in GetParked!</h2>
    <button class="button">
        <a href="/getparked/login" style="color: blue">
            <h5 class="buttontext">Log in</h5>
        </a>
    </button>
</div>
</body>
</html>
